@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:wght@100..900&display=swap');
.wrapper{
    background-color:rgba(71, 71, 71, 1) ;
    margin: 0 auto;
    padding: 14px;
    max-width: 1600px;
    color: rgba(249, 249, 247, 1);
    display: flex;
    justify-content: space-around;
    & p{
        font:400 16px "DM Sans";
    }
    & .left{
        display: flex;
        gap: 25px;
        & div{
            display: flex;
            gap: 8px;
            align-items: center;
            & Image{
                width: 18px;
                height: 18px;
            }
        }
    }
    & .right{
        display: flex;
        gap:4px;
        & .block{
            padding: 2px;
            width: 27px;
            height: 27px;
            background-color: rgba(249, 249, 247, 0.12);
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            & Image{
                width: 10px;
                height: 10px;
            }
        }
    }

}
.secondWrap{
    padding: 25px 0px;
    background-color: rgba(249, 249, 247, 1);
    display: flex;
    justify-content: space-around;
    & .left{
        display: flex;
        gap:14px;
        align-items: center;
        & p{
            color: rgba(71, 71, 71, 1);
            font: 600 43px "Playfair Display";
            font-style: italic;
        }
    }
    & .center{
        display: flex;
        gap:14px;
        align-items: center;
       & a{
         text-decoration: none;
         color: rgba(44, 47, 36, 1);
         & p {
            padding: 4px 16px;
        }
        & p:hover{
            background-color: rgba(219, 223, 208, 1);
            border-radius: 100px;
        }
       }
    }
    & .right{
        max-width: 147px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        color: rgba(24, 34, 38, 1);
        border: 2px solid rgba(44, 47, 36, 1);
        border-radius: 118px;
        & p{
            font:700 16px "DM Sans";
        }
    }
}