@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:wght@100..900&display=swap');
.wrapper{
    background-color: rgba(255, 255, 255, 1);
    & Image{
        width: 306px;
        height: 320px;
        border-radius: 12px;
    }
    & .title{
        line-height: 30px;
        letter-spacing: -3%;
        text-align: left;
        font: 700 24px "DM Sans";
        color: rgba(44, 47, 36, 1);
        margin: 30px 0 15px;
    }
    & .dop{
        line-height: 30px;
        letter-spacing: -3%;
        font: 400 16px "DM Sans";
        color: rgba(65, 69, 54, 1);
    }
}